<section [ngClass]="notesCount>=5? 'height-auto':'' " class="bg-home overflow-hidden pb-5">
    <div class="container d-flex mt-5 pt-5">
        <button (click)="showNote()" class="ms-auto btn btn-primary">Add Note</button>
    </div>

    <div class="container mt-5">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2 g-lg-3">
          <div class="col position-relative" *ngFor="let note of userNotes; index as i">

                <button class="Focus btn btn-primary border-0 bg-transparent text-muted menu-options" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseExample'+i" aria-expanded="true">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>


              <div class="collapse" [attr.id]="'collapseExample'+i">
                <div class="card m-0 p-0 card-body">
                    <ul class="list-group">
                        <li (click)="editNote(note)" class="list-group-item cursor-pointer d-flex justify-content-between align-items-center border-0 list-hover">
                            <p class="text-warning my-auto">Edit</p>
                            <i class="fa-solid fa-pen-to-square text-warning my-auto"></i>
                        </li>
                        <li (click)="deleteNote(note._id)" class="list-group-item cursor-pointer d-flex justify-content-between align-items-center border-0 list-hover">
                            <p class="text-danger my-auto">Delete</p>
                            <i class="fa-solid fa-trash text-danger my-auto"></i>
                        </li>
                      </ul>
              </div>
              </div>

            <div class="p-3 border notes-color height-fixed position-relative">
                <h4 class="text-center mt-4">{{note.title}}</h4>
                <p class="mt-3">{{note.desc}}</p>
            </div>
          </div>
        </div>

      </div>
</section>



<section *ngIf="displayNote" class="add-note">
    <div class="note">
        <i (click)="hideNote()" class="fa-solid fa-xmark cursor-pointer text-muted"></i>
        <div class="container-fluid border-bottom py-3">
            <p class="my-auto ms-2 fs-5">Add Note</p>
        </div>
        <div class="">
            <form [formGroup]="addNote" (ngSubmit)="sendNote(addNote)" class="container">
                <input formControlName="title" type="text" class="form-control my-3 " placeholder="Add title">
                <textarea formControlName="desc" class="form-control mb-3 " rows="10"  placeholder="Leave a comment here"></textarea>
                <div class="border-top py-3 d-flex">
                    <button [disabled]="addNote.invalid" type="submit" class="ms-auto btn btn-primary me-2">Add</button>
                    <button (click)="hideNote()" class="me-3 btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>


<section *ngIf="displayUpdate" class="add-note">
    <div class="note">
        <i (click)="hideUpdate()" class="fa-solid fa-xmark cursor-pointer text-muted"></i>
        <div class="container-fluid border-bottom py-3">
            <p class="my-auto ms-2 fs-5">Update</p>
        </div>
        <div class="">
            <form [formGroup]="updateNote" (ngSubmit)="sendUpdate(updateNote)" class="container">
                <input [(ngModel)]="savedTitle" formControlName="title" type="text" class="form-control my-3 " placeholder="Add title">
                <textarea [(ngModel)]="savedDescription" formControlName="desc" class="form-control mb-3 " rows="10"  placeholder="Leave a comment here"></textarea>
                <div class="border-top py-3 d-flex">
                    <button [disabled]="updateNote.invalid" type="submit" class="ms-auto btn btn-primary me-2">Update</button>
                    <button (click)="hideUpdate()" class="me-3 btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>
